# This is a basic workflow to help you get started with Actions

name: CI

on:
  push:
    branches: [ devsecops ]

  # Allows you to run this workflow manually from the Actions tab
  # workflow_dispatch:

jobs:

  test:
    runs-on: ubuntu-latest

    steps:
    
      - name: SAST
        run: |
          mkdir reports
          
          sudo apt install apt-transport-https ca-certificates curl software-properties-common
          curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
          sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu `lsb_release -cs` test"
          sudo apt update
          sudo apt install docker-ce
          sudo apt-cache madison docker-ce
          sudo apt-get install -y docker-ce=5:20.10.13~3-0~ubuntu-jammy -y --allow-downgrades

          docker run -v /var/run/docker.sock:/var/run/docker.sock -v $(pwd):/src/horusec horuszup/horusec-cli:latest horusec start -p /src/horusec -P $(pwd) -o='sarif' -O=/src/horusec/reports/horusec_report.sarif
      

      - name: Archive horusec report
        uses: actions/upload-artifact@v4
        with:
          name: horusec_report
          path: reports/horusec_report.sarif

 
